@model MVC_Husk.Models.SeasonalProduct

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SeasonalProduct</legend>

    <div class="display-label">Week</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Week)
    </div>

    <div class="display-label">Category</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category)
    </div>

    <div class="display-label">IDX</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IDX)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
