@{
    ViewBag.Title = "User Administration";
}

<h2>@ViewBag.Message</h2>
@using (Html.BeginForm())
{
<table>
    <thead>
        <tr>
            <th>
                User ID
            </th>
            <th>
                Email Address
            </th>
            <th>
                Last Login
            </th>
            <th>
                Disable Account
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var user in Model.People)
{
        <tr>
            <td>@user.ID @Html.Hidden("IDs", @user.ID as object)</td>
            <td>@user.Email</td>
            <td>@user.LastUpdate</td>
            <td align="center"><input type="checkbox" name="deactivate" id="@user.ID" @(!user.IsActive ? "checked='checked'" : "")  value="@user.ID"  /></td>
        </tr>
}
        <tr>
            <td colspan="4" align="center"><input type="submit" value="Update Users" /></td>
        </tr>
    </tbody>

</table>
}
