@model Template.Model.UsersViewModel

@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<table>
    <tbody>
@foreach (var user in Model.People)
{
        <tr>
            <td>@Html.TextBox("UserId", user.UserId as object)</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.EmailAddress</td>
            <td>@user.DogName</td>
            <td>@user.CatName</td>
        </tr>
}
    </tbody>
</table>